/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&family=Phudu&family=Raleway&family=Righteous&display=swap');
/* 
font-family: Bebas Neue;
font-family: Phudu;
font-family: Raleway;
font-family: Righteous;
 */

/* GLOBAL */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f7af29; */
}

p {
  outline: 1px #ff0000 solid;
  padding: 1em;
}

h1 {
  font-family: Phudu;
}

h2,
h3 {
  font-family: Raleway;
}

/* FLEX */

.flex {
  display: flex;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.col11 {
  flex-basis: 100%;
}

.col12 {
  flex-basis: 50%;
}

/* .col15 {
  flex-basis: 15%;
}
 */
/* ID's */

#mainNav {
  outline: 1px #cc00ff solid;
  margin: 1em;
}

#mainHeader {
  outline: 1px #116944 solid;
  padding: 1em;
  justify-content: center;
}

#mainContainer {
  width: 95%;
  margin: 0 auto;
}

#mainContent {
  flex-wrap: wrap;
  justify-content: center;
}

/* CLASSES */

.testClass {
  font-family: Arial;
}

.coffeeCard {
  background-color: #fff9e0;
  outline: 1px #ff8000 solid;
  margin: 1em;
  text-align: center;
  border-radius: 1em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.122);
}
.responsive {
  height: auto;
  width: 100%;
}

/* NESTED */
nav ul li {
  outline: 1px #0400ff solid;
  padding: 1em;
  margin: 0 1em;
}

.coffeeCard img {
  min-width: 10em;
  max-width: 15em;
  padding: 1em;
}
